.bundle/
log/*.log
pkg/
rdoc/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
test/dummy/Gemfile.lock
test/dummy/vendor/wagons/superliner/Gemfile.lock
test/ci/rails3.gemfile.lock
.rvmrc
.ruby-version
